.container {
    width: 100%;
    height:100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #bbbbbb;
}
input[type=submit]:active{
    cursor: pointer;
    background-color: rgb(66, 66, 66);
}
.header {
    text-align: right;
}
.input-error{
    border-color: red;
    border-width: 6px;

}

.input-normal{
    border-color:rgb(0, 0, 0);
}