.container {
    width: 100%;
    height:100%;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
}
input[type=submit]:hover {
    cursor: pointer;
    background-color: #bbbbbb;
}
input[type=submit]:active{
    cursor: pointer;
    background-color: rgb(72, 72, 72);
}
.header {
    text-align: right;
}
.input-error {
    border: 2px solid #bdbdbd;
    border-radius: 0.5rem;
    border-color: red;
    color: red;
}
.error-name-message {
    position: relative;
    top: 2px;
    text-align: center;

}

.error-pass-message {
    position: relative;
    top: 2px;
    text-align: center;

}